@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  font-size: 20px;
  --back-head-text-body-1: #1e1e1e;
  --back-head-grad: #363636;
  --back-head-grad-2: #626262;
  --back-head-grad-3-text-body-2: #999999;
  --text-head-1: #f3f3f3;
  --text-head-2: #bfbfbf;
  --back-body-2: #ffffff;
  --back-body-1: #f6f6f6;
  --text-body-big: #f1f1f1;
  --red: #da0037;
  --frank-font-family: 'Frank Ruhl Libre', serif;
  --black-font-weight: 900;
  --heading-1-font-size: 5.6vmax;
  --heading-1-line-height: 6.5vmax;
  --heading-2-font-size: 1.9rem;
  --heading-line-height: 180%;
  --lato-font-family: 'Lato', sans-serif;
  --heading-3-font-weight: bold;
  --heading-3-font-size: 1.4rem;
  --body-text-font-weight: 500;
  --body-text-font-size: 1rem;
  --body-text-line-height: 190%;
  --body-text-small-font-weight: 300;
  --body-text-small-font-size: 0.85rem;
  --main-transition: all 0.3s linear;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--back-body-1);
  overflow-x: hidden;
}

/* Navbar */

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  height: 70px;
  width: 100%;
  align-items: center;
  background: var(--back-head-text-body-1);
  color: var(--text-head-2);
  z-index: 10;
}

.navbar-center {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.nav-logo {
  font-family: var(--frank-font-family);
  font-weight: var(--black-font-weight);
  font-size: var(--body-text-font-size);
  color: var(--text-head-1);
  text-decoration: none;
}

.nav-link {
  display: flex;
  list-style: none;
  width: 35%;
  justify-content: space-between;
}

.nav-item {
  color: var(--text-head-2);
  text-decoration: none;
  font-family: var(--lato-font-family);
  font-weight: var(--body-text-font-weight);
  font-size: var(--body-text-small-font-size);
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -4px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background: var(--text-head-2);
  border-radius: 3px;
  transition: all 0.3s;
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background: var(--text-head-2);
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background: var(--text-head-2);
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* End Hamburger Menu */

.cart-btn {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 10%;
  cursor: pointer;
  font-size: var(--body-text-font-size);
}

.nav-icon a {
  color: var(--text-head-2);
  text-decoration: none;
}

.cart-items {
  position: absolute;
  top: -12px;
  right: -5px;
  background-color: var(--red);
  color: var(--text-head-1);
  padding: 0 8px;
  border-radius: 30%;
  font-size: var(--body-text-font-size);
}

/* End Navbar */

/* Header */

.hero {
  background: var(--back-head-text-body-1);
}

.hero-center {
  width: 80%;
  margin: 0 auto;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: space-between;
}

.banner-1 {
  width: 45%;
  padding-top: 100px;
}

.banner-1 p {
  font-family: var(--lato-font-family);
  font-weight: var(--body-text-font-weight);
  font-size: var(--body-text-font-size);
  line-height: var(--body-text-line-height);
  color: var(--text-head-2);
}

.banner-title {
  font-family: var(--frank-font-family);
  font-weight: var(--black-font-weight);
  font-size: var(--heading-1-font-size);
  color: var(--text-head-1);
  line-height: var(--heading-1-line-height);
  position: relative;
}

.banner-title-img {
  width: 5vmax;
}

.banner-btn {
  margin-top: 20px;
  border: 1px solid var(--text-head-1);
  background: var(--back-head-text-body-1);
  padding: 15px 20px 15px 15px;
  border-radius: 100px;
  color: var(--text-head-2);
  font-family: var(--lato-font-family);
  font-weight: var(--body-text-small-font-weight);
  font-size: var(--body-text-small-font-size);
  cursor: pointer;
}

.banner-btn-detail {
  font-weight: var(--heading-3-font-weight);
}

.banner-btn-icon {
  margin-left: 25px;
  margin-right: -18px;
  border-radius: 50%;
  padding: 13px 15px;
  height: 56px;
  background-color: var(--text-head-1);
  color: #1e1e1e;
}

.banner-detail {
  margin-top: 20px;
  display: flex;
}

.banner-detail-1 {
  display: flex;
  width: 150px;
  border-right: 2px solid var(--text-head-2);
}

.banner-detail-2 {
  display: flex;
  width: 150px;
  justify-content: flex-end;
}

.banner-detail-first {
  font-family: var(--lato-font-family);
  font-weight: var(--black-font-weight);
  font-size: var(--heading-3-font-size);
  color: var(--text-head-1);
  margin-right: 10px;
}

.banner-detail-second {
  font-family: var(--lato-font-family);
  font-weight: var(--body-text-small-font-weight);
  font-size: var(--body-text-font-size);
  color: var(--text-head-2);
  display: inline-block;
}

.banner-2 {
  width: 45%;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.hero-product-container {
  display: flex;
  justify-content: space-between;
}

.hero-product-1 {
  width: 18vmax;
  height: 33vmax;
  background: var(--back-head-grad-2);
  border-radius: 140px;
  text-align: center;
  position: relative;
}

.product-1-title {
  margin-top: 20px;
  height: 15vmax;
}

.product-1-title path {
  fill: transparent;
}

.product-1-title text {
  font-family: var(--lato-font-family);
  font-size: 3.2rem;
  letter-spacing: 20px;
  font-weight: var(--heading-3-font-weight);
  fill: var(--back-head-text-body-1);
}

.product-1-acc {
  position: absolute;
  top: 100px;
  left: -50px;
  width: 6vmax;
  height: 6vmax;
}

.product-1-img {
  margin-top: -60px;
  width: 13vmax;
  background: url(bed.png);
  filter: drop-shadow(10px 25px 20px rgba(0, 0, 0, 0.2));
}

.product-1-spec {
  width: 10vmax;
  height: 10vmax;
  position: absolute;
  bottom: -20px;
  right: -50px;
}

.hero-product-2 {
  display: flex;
  flex-direction: column;
}

.hero-product-2-a {
  width: 15vmax;
  height: 17vmax;
  background: var(--back-head-grad);
  border-radius: 140px 140px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-product-2-a img {
  width: 10vmax;
  filter: drop-shadow(10px 20px 30px rgba(0, 0, 0, 0.2));
}

.hero-product-2-b {
  margin-top: 10px;
  width: 15vmax;
  height: 15vmax;
  border-radius: 50%;
  background: var(--back-head-grad-3-text-body-2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-product-2-b img {
  width: 10vmax;
  filter: drop-shadow(10px 20px 20px rgba(0, 0, 0, 0.2));
}

.acc-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 20px;
}

.product-acc {
  width: 120px;
}

/* End Header */

/* Categories */

#categories {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.categories-jumbo {
  position: absolute;
  top: -130px;
  left: 600px;
  font-family: var(--frank-font-family);
  font-weight: var(--black-font-weight);
  font-size: 11rem;
  color: var(--text-body-big);
  z-index: -1;
}

.category-title {
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
}

.category-title-1 {
  width: 15%;
  font-family: var(--frank-font-family);
  font-weight: var(--black-font-weight);
  font-size: var(--heading-2-font-size);
  color: var(--back-head-text-body-1);
}

.category-title-line {
  position: absolute;
  margin-top: 30px;
  height: 25vmax;
}

.category-title-line path {
  stroke: var(--back-head-text-body-1);
  stroke-width: 1;
}

.category-title-2 {
  width: 50%;
  font-family: var(--lato-font-family);
  color: var(--back-head-grad-3-text-body-2);
  font-weight: 500;
  font-size: var(--body-text-font-size);
  line-height: var(--body-text-line-height);
}

.category-items {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.category-item {
  width: 12vmax;
  height: 16vmax;
  background: var(--back-body-2);
  border-radius: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.category-item svg {
  margin-top: 20px;
  height: 11vmax;
}

.category-item path {
  fill: transparent;
}

.category-item text {
  font-family: var(--lato-font-family);
  font-size: 3.2rem;
  letter-spacing: 1rem;
  font-weight: var(--heading-3-font-weight);
  fill: var(--back-head-text-body-1);
}

.category-item img {
  width: 8vmax;
}

.item-category-title {
  position: absolute;
  top: -15px;
  width: 10vmax;
}

.item-category-title text {
  fill: var(--back-head-grad-3-text-body-2);
}

.item-category-line {
  position: absolute;
  bottom: -75px;
  width: 10vmax;
}

.item-category-line path {
  stroke: var(--back-head-grad-3-text-body-2);
}

/* End Categories */

/* Features */

#features {
  margin-top: 150px;
  background: var(--back-body-2);
}

.features-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 100px 0;
}

.features-jumbo {
  position: absolute;
  top: -150px;
  left: -400px;
  font-family: var(--frank-font-family);
  font-weight: var(--black-font-weight);
  font-size: 11rem;
  color: var(--text-body-big);
}

.feature-desc {
  width: 40%;
}

.feature-title {
  font-family: var(--frank-font-family);
  font-weight: var(--black-font-weight);
  font-size: var(--heading-2-font-size);
  color: var(--back-head-text-body-1);
}

.feature-item-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.feature-items {
  display: flex;
}

.items-shadow {
  width: 31vmax;
  height: 175px;
  background: var(--back-body-2);
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.05);
}

.feature-num {
  font-family: var(--lato-font-family);
  font-weight: var(--body-text-font-weight);
  font-size: var(--body-text-font-size);
  color: var(--back-head-grad-3-text-body-2);
  padding-top: 27px;
  margin-right: 10px;
}

.feature-item {
  margin-top: 20px;
}

.feature-item h4 {
  font-family: var(--lato-font-family);
  font-weight: var(--heading-3-font-weight);
  font-size: 1.2rem;
  line-height: var(--heading-line-height);
  color: var(--back-head-text-body-1);
}

.feature-item p {
  font-family: var(--lato-font-family);
  font-weight: var(--body-text-font-weight);
  font-size: var(--body-text-font-size);
  line-height: var(--body-text-line-height);
  color: var(--back-head-grad-3-text-body-2);
}

.feature-prod {
  width: 45%;
  display: flex;
  justify-content: flex-end;
}

.feature-prod-item {
  width: 25vmax;
  height: 30vmax;
  background: var(--back-head-grad-3-text-body-2);
  border-radius: 0px 0px 0px 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.feature-prod-img {
  width: 20vmax;
  filter: drop-shadow(20px 30px 20px rgba(0, 0, 0, 0.1));
}

.feature-prod-svg {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 7vmax;
}

/* End Features */

/* Products */

#products {
  margin: 4rem 0;
}

.products-title {
  margin: 0 auto;
  text-align: center;
  width: 30vw;
}

.products-title h3 {
  font-family: var(--frank-font-family);
  font-weight: var(--black-font-weight);
  font-size: var(--heading-2-font-size);
  color: var(--back-head-text-body-1);
}

.products-title p {
  margin-top: 10px;
  font-family: var(--lato-font-family);
  font-weight: var(--body-text-font-weight);
  font-size: var(--body-text-font-size);
  line-height: var(--body-text-line-height);
  color: var(--back-head-grad-3-text-body-2);
}

.products-nav {
  width: 60vw;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.products-link {
  list-style: none;
  text-decoration: none;
  color: var(--back-head-grad-3-text-body-2);
  font-family: var(--lato-font-family);
  font-weight: var(--body-text-font-weight);
  font-size: var(--body-text-font-size);
}

.products-active {
  font-weight: var(--heading-3-font-weight);
  color: var(--back-head-text-body-1);
  border-bottom: 2px solid #1e1e1e;
  padding-bottom: 5px;
}

.products-container {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.product-img {
  height: 260px;
  background: var(--back-body-2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.img-product {
  width: 70%;
  transition: var(--main-transition);
}

.img-product:hover {
  opacity: 0.6;
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--red);
  color: var(--back-head-text-body-1);
  border: none;
  padding: 0.5rem 0.75rem;
  font-family: var(--lato-font-family);
  font-weight: var(--heading-3-font-weight);
  font-size: var(--body-text-small-font-size);
  transition: var(--main-transition);
  transform: translateX(101%);
  cursor: pointer;
}

.bag-btn:hover {
  color: var(--back-body-2);
}

.bag-btn .fa-shopping-cart {
  margin-right: 0.5rem;
}

.product-img:hover .bag-btn {
  transform: translateX(0);
}

.product-item span {
  font-family: var(--lato-font-family);
  font-weight: var(--body-text-small-font-weight);
  font-size: var(--body-text-small-font-size);
  line-height: var(--body-text-line-height);
  color: var(--back-head-grad-3-text-body-2);
}

.product-item h4 {
  font-family: var(--lato-font-family);
  font-weight: var(--body-text-font-weight);
  font-size: var(--body-text-font-size);
  line-height: var(--body-text-line-height);
  color: var(--back-head-text-body-1);
}

.product-item p {
  font-family: var(--lato-font-family);
  font-weight: var(--body-text-font-weight);
  font-size: var(--body-text-font-size);
  line-height: var(--body-text-line-height);
  color: var(--back-head-grad-3-text-body-2);
}

.products-btn {
  border: 1px solid var(--back-head-text-body-1);
  background: transparent;
  border-radius: 50px;
  padding: 20px 50px;
  font-family: var(--lato-font-family);
  font-weight: var(--heading-3-font-weight);
  font-size: 1.2rem;
  color: var(--back-head-text-body-1);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}

/* End Products */

/* Discover */

#discover {
  width: 80%;
  margin: 0 auto;
  background: var(--back-body-2);
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 70px 70px 70px 150px;
}

.discover-detail {
  width: 60%;
}

.discover-detail-acc {
  width: 160px;
}

.discover-detail h3 {
  margin-top: 10px;
  font-family: var(--frank-font-family);
  font-weight: var(--black-font-weight);
  font-size: 2.2rem;
  line-height: var(--heading-1-line-height);
  color: var(--back-head-text-body-1);
}

.discover-detail p {
  margin-top: 10px;
  font-family: var(--lato-font-family);
  font-weight: var(--body-text-font-weight);
  font-size: var(--body-text-font-size);
  line-height: var(--body-text-line-height);
  color: var(--back-head-grad-3-text-body-2);
}

.discover-btn {
  margin-top: 20px;
  border: 1px solid var(--back-head-text-body-1);
  padding: 15px 20px 15px 10px;
  border-radius: 100px;
  background: var(--back-body-2);
  color: var(--back-head-grad-3-text-body-2);
  font-family: var(--lato-font-family);
  font-weight: var(--body-text-small-font-weight);
  font-size: var(--body-text-small-font-size);
  cursor: pointer;
}

.discover-btn-icon {
  margin-left: 20px;
  margin-right: -18px;
  border-radius: 50%;
  padding: 13px 15px;
  height: 56px;
  background-color: var(--back-head-text-body-1);
  color: var(--text-head-1);
}

.discover-img {
  width: 40%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.discover-img-item {
  position: absolute;
  left: 20px;
  top: 80px;
  width: 19vmax;
}

.discover-img-disc {
  position: absolute;
  left: 20px;
  top: 160px;
  width: 6vmax;
}

/* End Discover */

/* Contact */

#contact {
  margin-top: 200px;
  margin-bottom: 100px;
  position: relative;
  overflow-x: hidden;
}

.contact-line-2 {
  position: absolute;
  top: 5px;
  left: 0;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-top: -110px;
}

.contact-title {
  width: 30%;
}

.contact-title h3 {
  font-family: var(--frank-font-family);
  font-weight: var(--black-font-weight);
  font-size: 2.2rem;
  line-height: 130%;
  color: var(--back-head-text-body-1);
}

.contact-title p {
  margin-top: 15px;
  font-family: var(--lato-font-family);
  font-weight: var(--body-text-font-weight);
  font-size: var(--body-text-font-size);
  color: var(--back-head-grad-3-text-body-2);
}

.contact-title a {
  color: var(--back-head-grad-3-text-body-2);
}

.contact-items {
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.contact-item h4 {
  font-family: var(--lato-font-family);
  font-weight: var(--heading-3-font-weight);
  font-size: var(--body-text-font-size);
  color: var(--back-head-text-body-1);
  margin-bottom: 30px;
}

.contact-item a {
  font-family: var(--lato-font-family);
  font-weight: var(--body-text-font-weight);
  font-size: var(--body-text-font-size);
  line-height: var(--body-text-line-height);
  color: var(--back-head-grad-3-text-body-2);
  text-decoration: none;
}

.contact-icon {
  padding: 10px 9px 9px 11px;
  margin: 0 2px;
  border-radius: 50%;
  border: 1px solid var(--back-head-grad-3-text-body-2);
}

.contact-icon i {
  font-size: 1.2rem;
}

/* End Contact */

/* footer */

.footer {
  background: var(--back-head-text-body-1);
  height: 100px;
  font-family: var(--lato-font-family);
  font-weight: var(--body-text-font-weight);
  font-size: var(--body-text-font-size);
  color: var(--text-head-1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End footer */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  :root {
    font-size: 18px;
  }

  /* Navbar */

  .cart-items {
    right: -13px;
  }

  /* End Navbar */

  /* Hero */

  .hero-center {
    width: 85%;
  }

  .banner-1 {
    width: 55%;
  }

  .banner-btn {
    padding: 15px 20px 15px 5px;
  }

  .banner-btn-icon {
    margin-left: 1px;
  }

  .banner-2 {
    justify-content: center;
    padding-top: 10px;
  }

  .hero-product-container {
    justify-content: flex-end;
  }

  .product-1-acc {
    top: 50px;
    left: -30px;
  }

  .product-1-spec {
    left: -20px;
  }

  /* End Hero */

  /* Categories */

  #categories {
    width: 85%;
  }

  .categories-jumbo {
    left: 350px;
  }

  .category-title-line {
    height: 30vmax;
  }

  .item-category-title {
    top: -15px;
  }

  .item-category-line {
    top: 80px;
  }

  /* End Categories */

  /* Features */

  .features-container {
    width: 85%;
  }

  .items-shadow {
    height: 21vmax;
    width: inherit;
  }

  .feature-prod {
    width: 50%;
    justify-content: flex-end;
    align-items: center;
  }

  .feature-prod-item {
    width: 30vmax;
    height: 40vmax;
    border-radius: 0px 0px 0px 100px;
  }

  .feature-prod-img {
    width: 30vmax;
  }

  .feature-prod-svg {
    left: -10px;
    width: 9vmax;
  }

  /* End Features */

  /* Discovery */

  #discover {
    width: 85%;
    padding: 30px;
  }

  .discover-detail {
    width: 100%;
  }

  .discover-img {
    width: 50%;
    justify-content: center;
  }

  .discover-img-item {
    width: 23vmax;
    height: 17vmax;
    top: 60px;
    left: 20px;
  }

  .discover-img-disc {
    width: 10vmax;
    left: 10px;
    top: 140px;
  }

  /* End Discovery */

  /* Contact */

  .contact-line-1 {
    width: 130vmax;
  }

  .contact-line-2 {
    width: 130vmax;
  }

  .contact-container {
    width: 85%;
    margin-top: -50px;
  }

  .contact-title {
    width: 30%;
  }

  .contact-items {
    width: 60%;
  }

  .contact-icon {
    padding: 7px 6px 6px 8px;
    margin: 0 1px;
  }

  /* End Contact */
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  :root {
    font-size: 18px;
  }

  /* Navbar */

  .nav-link {
    width: 47%;
  }

  .cart-items {
    right: -18px;
  }

  /* End Navbar */

  /* Hero */

  .hero-center {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .banner-1 {
    width: 90%;
    text-align: center;
    padding-top: 100px;
    justify-content: center;
  }

  .banner-btn {
    text-align: center;
    padding: 15px 20px 15px 5px;
  }

  .banner-btn-icon {
    margin-left: 1px;
  }

  .banner-detail {
    justify-content: center;
  }

  .banner-2 {
    width: 100%;
    justify-content: center;
    padding-top: 10px;
  }

  .hero-product-container {
    justify-content: center;
  }

  .hero-product-1 {
    height: 20vmax;
    margin-right: 1vw;
  }

  .product-1-img {
    margin-top: 40px;
    width: 12vmax;
  }

  .product-1-title {
    display: none;
  }

  .product-1-acc {
    top: 10px;
    left: -20px;
  }

  .product-1-spec {
    left: 50px;
  }

  .hero-product-2 {
    display: flex;
    flex-direction: row;
    gap: 1vw;
  }

  .acc-container {
    visibility: hidden;
  }

  /* End Hero */

  /* Categories */

  #categories {
    width: 90%;
  }

  .categories-jumbo {
    left: 250px;
  }

  .category-title-1 {
    width: 60%;
  }

  .category-title-line {
    height: 40vmax;
  }

  .category-title-2 {
    width: 90%;
  }

  .item-category-title {
    top: -15px;
  }

  .item-category-line {
    top: 60px;
  }

  /* End Categories */

  /* Features */

  .features-jumbo {
    left: -450px;
  }

  .features-container {
    width: 90%;
  }

  .feature-desc {
    width: 50%;
  }

  .items-shadow {
    height: 25vmax;
    width: inherit;
  }

  .feature-prod {
    width: 50%;
    justify-content: flex-end;
    align-items: center;
  }

  .feature-prod-item {
    width: 30vmax;
    height: 40vmax;
    border-radius: 0px 0px 0px 100px;
  }

  .feature-prod-img {
    width: 30vmax;
  }

  .feature-prod-svg {
    left: -10px;
    width: 9vmax;
  }

  /* End Features */

  /* Products */

  .products-title {
    width: 60%;
  }

  /* End Products */

  /* Discovery */

  #discover {
    width: 90%;
    padding: 10px;
    padding-bottom: 50px;
    justify-content: center;
  }

  .discover-detail {
    width: 100%;
  }

  .discover-img {
    width: 50%;
    justify-content: center;
  }

  .discover-img-back {
    display: none;
  }

  .discover-img-item {
    width: 23vmax;
    height: 17vmax;
    position: relative;
    margin-top: 0px;
    margin-right: 10px;
  }

  .discover-img-disc {
    width: 10vmax;
    left: 10px;
    top: 140px;
  }

  /* End Discovery */

  /* Contact */

  #contact {
    background: var(--back-body-2);
    padding: 50px 0 100px 0;
    margin-bottom: 0px;
  }

  .contact-line-1 {
    display: none;
  }

  .contact-line-2 {
    display: none;
  }

  .contact-container {
    width: 90%;
    margin-top: 0px;
  }

  .contact-title {
    width: 28%;
  }

  .contact-items {
    margin-top: 50px;
    width: 63%;
  }

  .contact-icon {
    padding: 5px 4px 4px 6px;
    margin: 0 1px;
  }

  /* End Contact */
}

@media only screen and (max-width: 576px) {
  :root {
    font-size: 16px;
  }

  /* Navbar */

  .navbar-center {
    width: 80%;
  }

  .nav-link {
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    width: 100%;
    background: var(--back-head-text-body-1);
    z-index: -1;
    transform: translateY(-100%);
    transition: all 1s;
    opacity: 0;
  }

  .nav-link.slide {
    opacity: 1;
    transform: translateY(0);
  }

  .cart-items {
    right: -35px;
  }

  .nav-icon {
    margin-left: 15px;
  }

  .menu-toggle {
    display: flex;
  }

  /* End Navbar */

  /* Hero */

  .hero-center {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .banner-1 {
    width: 90%;
    text-align: center;
    padding-top: 100px;
    justify-content: center;
  }

  .banner-btn {
    text-align: center;
    padding: 15px 20px 15px 5px;
  }

  .banner-btn-icon {
    margin-left: 1px;
  }

  .banner-detail {
    justify-content: center;
  }

  .banner-2 {
    width: 100%;
    justify-content: center;
    padding-top: 10px;
  }

  .hero-product-container {
    justify-content: center;
  }

  .hero-product-1 {
    height: 20vmax;
    margin-right: 1vw;
  }

  .product-1-img {
    margin-top: 40px;
    width: 12vmax;
  }

  .product-1-title {
    display: none;
  }

  .product-1-acc {
    top: 10px;
    left: -20px;
  }

  .product-1-spec {
    left: 50px;
  }

  .hero-product-2 {
    display: flex;
    flex-direction: row;
    gap: 1vw;
  }

  .acc-container {
    visibility: hidden;
  }

  /* End Hero */

  /* Categories */

  #categories {
    width: 90%;
  }

  .categories-jumbo {
    display: none;
  }

  .category-title {
    margin-top: 80px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .category-title-1 {
    width: 100%;
  }

  .category-title-line {
    display: none;
  }

  .category-title-2 {
    width: 100%;
  }

  .item-category-title {
    top: -15px;
  }

  .item-category-line {
    top: 60px;
  }

  /* End Categories */

  /* Features */

  .features-jumbo {
    display: none;
  }

  .features-container {
    width: 80%;
    flex-direction: column;
  }

  .feature-title {
    text-align: center;
  }

  .feature-desc {
    width: 100%;
  }

  .feature-item-container {
    padding-bottom: 30px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
  }

  .items-shadow {
    width: inherit;
    height: inherit;
    box-shadow: none;
  }

  .feature-item-container {
    text-align: center;
  }

  .feature-num {
    display: none;
  }

  .feature-prod {
    width: 100%;
    justify-content: center;
    margin-top: 50px;
  }

  .feature-prod-item {
    border-radius: 0px 0px 150px 150px;
  }

  .feature-prod-svg {
    left: -10px;
    width: 9vmax;
  }

  /* End Features */

  /* Products */

  .products-title {
    width: 60%;
  }

  /* End Products */

  /* Discovery */

  #discover {
    flex-direction: column;
    width: 90%;
    padding: 10px;
    padding-bottom: 50px;
    justify-content: center;
  }

  .discover-detail {
    width: 100%;
    text-align: center;
  }

  .discover-img {
    width: 100%;
    justify-content: center;
  }

  .discover-img-back {
    position: absolute;
    display: none;
  }

  .discover-img-item {
    position: static;
    margin-top: 20px;
  }

  .discover-img-disc {
    left: 60%;
    bottom: 5px;
  }

  /* End Discovery */

  /* Contact */

  #contact {
    background: var(--back-body-2);
    padding: 50px 0 100px 0;
    margin-bottom: 0px;
  }

  .contact-line-1 {
    display: none;
  }

  .contact-line-2 {
    display: none;
  }

  .contact-container {
    width: 90%;
    flex-direction: column;
    margin-top: 0px;
  }

  .contact-title {
    width: 100%;
    text-align: center;
  }

  .contact-items {
    margin-top: 50px;
    width: 100%;
  }

  .contact-icon {
    padding: 5px 4px 4px 6px;
    margin: 0 1px;
  }

  /* End Contact */
}
